global:
  scrape_interval: 15s
  evaluation_interval: 15s

# Правила оповещений
rule_files:
  - "alert_rules.yml"

# Настройки оповещений
alerting:
  alertmanagers:
    - static_configs:
        - targets:
          # - alertmanager:9093

# Конфигурация сбора метрик
scrape_configs:
  # Мониторинг самого Prometheus
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']
    scrape_interval: 5s

  # мониторинг Node Exporter
  - job_name: 'node_exporter'
    static_configs:
      - targets: ['localhost:9100']
    scrape_interval: 5s

  # мониторинг Skillbox App
  #- job_name: 'skillbox_exporter'
  #  static_configs:
  #    - targets: ['{{ skillbox_exporter_host }}', '{{ skillbox_exporter_ip }}:{{ skillbox_exporter_port }}']
  #  scrape_interval: 5s

   # мониторинг Skillbox App
   - job_name: 'reviews_exporter'
     static_configs:
       - targets: ['{{ reviews_exporter_host }}:{{ reviews_exporter_port }}', '{{ reviews_exporter_ip }}:{{ reviews_exporter_port }}']
     scrape_interval: 5s